<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>{{#link-to 'store'}}HOME{{/link-to}}</li>
    <li>{{#link-to 'admin'}}ADMIN{{/link-to}}</li>
  </ul>
</nav>

<div class="container">
  <h2 id="title">Ember Shopping</h2>

  {{outlet}}

</div>
