{{product-detail product=model}}

<div class="cart">
  {{display-cart }}
</div>
<h3>User Reviews/Comments</h3>
{{display-rating rating=model.ratings}}


{{rate-product product=model saveRating="saveRating"}}
